.main {
  text-align: center;
  margin-top: 40px;
}

.titulo-jogo {
  font-size: 2rem;
  color: #444;
  margin-bottom: 20px;
}


/* overlay de início */
.start-overlay{
  position: absolute;
  inset: 0; 
  margin-bottom: 80px;
  margin-top: 100px;
  display: flex;
  align-items: center;   
  justify-content: center;
  background: rgba(0,0,0,0.35);
  pointer-events: auto;
  z-index: 999;
}

/* caixa do botão */
.start-box{
  width: 100%;
  max-width: 480px; 
  background: #fff;
  padding: 28px 36px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* garante que o botão seja clicável */
.start-overlay button {
  pointer-events: auto;
}

.start-box .name{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 14px;
}

.tracejado-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-tentativas {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

canvas {
  background-color: #fff;
  border: 3px dashed #ccc;
  border-radius: 12px;
  cursor: crosshair;
  touch-action: none;
}

.botoes {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#reset{
  background-color: rgb(246, 176, 45);
}
#sair{
  background-color: rgb(245, 79, 79);
}

button:hover {
  background-color: #5c9156;
}
